:root{
    --primary: #FFCE00;
    --secondary: #fe4880;
    --dark: #212121;
    --light: #f3f3f3f;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100vh;
}
.card{
    margin:  10px;
    width: 200px;
    height: 300px;
    perspective: 1000px;
}
.no-display{
    display: none;
}
.card-inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card-inner.isfliped{
    transform: rotateY(-180deg);
}
.card_face{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}
.card-front{
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-front h2{
    color: #fff;
    font-size: 18px;
}
.card-back{
    background-color: var(--light);
    transform: rotateY(180deg);
}
.card-content{
    width: 100%;
    height: 100%;
}
.card-header{
    position: relative;
    padding: 30px 30px 40px;
    
}
.card-header:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary)115%);
}
.pro{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
    object-fit: cover;
}
.card-header h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.card-body{
    padding: 30px;
}
.card-body h3{
    color: var(--dark);
    font-size: 24px;
    margin-bottom: 15px;
}
.card-body p{
    color: var(--dark);
    font-size: 18px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border: 1px solid black;
    background-color: #212121;
    padding: 3px;
    z-index: 1;
}
